body {
    background-color: #2B2547;
    color: #ECECEC;
    font-family: Roboto;
    text-align: center;
}

.container {
    max-width: 1300px;
    margin: 1 auto;
}

header {
    margin-bottom: 40px;
}

.auth-button {
    float: right;
    background-color: #3a767a;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: 1;
    border-radius: 5px;
    cursor: pointer;
}

.models {
    display: flex;
    justify-content: space-around;
}

.model-card {
    background-color: #3E3A5A;
    padding: 30px;
    border-radius: 10px;
    width: 40%;
    text-align: left;
}

.logo {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

.btn {
    background-color: #3a767a;
    color: white;
    padding: 10px 20px;
    text-decoration: 1;
    border-radius: 5px;
}
