{% extends "base.html" %}

{% block title %}MACHINE LEARNING SET{% endblock %}

{% block content %}
<div class="container">
    <header>
        <h1>MACHINE LEARNING SET</h1>
        <p>{{ app_description }}</p>
        {% if user_authenticated %}
        <button class="auth-button">{{ user_name }}</button>
        {% else %}
        <a href="/register" class="auth-button">Log In</a>
        {% endif %}
    </header>
    <div class="models">
        {% for model in models %}
        <div class="model-card">
            <img src="/logo/{{ model.name }}.svg" alt="{{ model.name }} logo" class="logo">
            <h2>{{ model.name }}</h2>
            <p>{{ model.description }}</p>
            <a href="{{ model.url }}" class="btn">source</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}