{% extends "base.html" %}

{% block title %}MACHINE LEARNING SET{% endblock %}

{% block content %}
<div class="container">
    <header>
        <h1>MACHINE LEARNING SET</h1>
        <p>{{ app_description }}</p>
    </header>
    <div class="models">
        {% for model in models %}
        <div class="model-card">
            <img src="/app/static/logo/{{ model.name }}.svg" alt="{{ model.name }} logo" class="logo">
            <h2>{{ model.name|capitalize }}</h2>
            <p>{{ model.description }}</p>
            <a href="{{ model.url }}" class="btn">source</a>
        </div>
        {% endfor %}
    </div>
    <div class="log-info">
    <p>{{ log_info|safe }}</p>
    </div>
    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</a>
    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registrationModal">Register</a>

    <!-- Log In Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Log In</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/users/login">
              <div class="mb-3">
                <label for="login-username" class="form-label">Username:</label>
                <input type="text" id="login-username" name="username" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="login-email" class="form-label">E-mail:</label>
                <input type="email" id="login-email" name="email" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="login-password" class="form-label">Password:</label>
                <input type="password" id="login-password" name="password" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-success">Log In</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Registration Modal -->
    <div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registrationModalLabel">Register</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/users/register">
              <div class="mb-3">
                <label for="register-username" class="form-label">Username:</label>
                <input type="text" id="register-username" name="username" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="register-email" class="form-label">E-mail:</label>
                <input type="email" id="register-email" name="email" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="register-password" class="form-label">Password:</label>
                <input type="password" id="register-password" name="password" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-success">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}