{% extends "base.html" %}

{% block title %}User Page{% endblock %}

{% block content %}
<div class="container">
    <header>
        <h1>User Page</h1>
        <h2>Welcome {{ user_name }}!</h2>
        <p>{{ instruction }}</p>
    </header>
    <form action="/start-learning" method="post">
        <div class="selection">
            <label for="library">Choose a library:</label>
            <select name="library" id="library" required>
                {% for model in models %}
                <option value="{{ model.name }}">{{ model.name|capitalize }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="selection">
            <label for="dataset">Choose a dataset:</label>
            <select name="dataset" id="dataset" required>
                {% for dataset in datasets %}
                <option value="{{ dataset.title }}">{{ dataset.title }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn">Start Learning</button>
    </form>
</div>
{% endblock %}